@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');

.sidebar-toggle {
  margin-left: -240px;
}

.sidebar {
  margin-top: 62px;
  width: 240px;
  height: calc(100vh - 60px);  
  background: #133f6c;
  position: fixed;
  overflow-y: auto;
  left: 0; 
  transition: all .3s ease-in-out;
  z-index: 100;
}

.sidebar.collapsed {
  left: -240px;
}

.sidebar #leftside-navigation ul, 
.sidebar #leftside-navigation ul ul {
  margin: -2px 0 0;
  padding: 0;
}

.sidebar #leftside-navigation ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255,255,255,.05);
}

.sidebar #leftside-navigation ul li.active > a {
  color: #299fe9;
}

.sidebar #leftside-navigation ul li.active ul {
  display: block;
}

.sidebar #leftside-navigation ul li a {
  color: #aeb2b7;
  text-decoration: none;
  display: block;
  padding: 18px 0 18px 25px;
  font-size: 12px;
  outline: 0;
  transition: all 200ms ease-in;
}

.sidebar #leftside-navigation ul li a:hover {
  color: #34c0ef;
}

.sidebar #leftside-navigation ul li a span {
  display: inline-block;
}

.sidebar #leftside-navigation ul li a i {
  width: 20px;
}

.sidebar #leftside-navigation ul li a i.fa-angle-left, 
.sidebar #leftside-navigation ul li a i.fa-angle-right {
  padding-top: 3px;
}

.sidebar #leftside-navigation ul ul {
  display: none;
}

.sidebar #leftside-navigation ul ul li {
  background: #23313f;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
}

.sidebar #leftside-navigation ul ul li a {
  font-size: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #aeb2b7;
}
