<aside class="sidebar">
  <div id="leftside-navigation" class="nano">
    <ul class="nano-content">
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="login"><i class="fa fa-th"></i><span>Widgets</span></a> 
      </li>
      <li>
        <a href="projects"><i class="fa fa-dashboard"></i><span>Projects</span></a>
      </li>
     <!-- Ajout du lien Formations -->
      <li>
        <a routerLink="/formations" routerLinkActive="active"><i class="fa fa-graduation-cap"></i><span>Formations</span></a>
      </li>
      
      <!-- Courses -->
      <li>
        <a routerLink="/courses" routerLinkActive="active">
          <i class="fa fa-play-circle"></i><span>Courses</span>
        </a>
      </li>

      <!-- Rewards -->
      <li>
        <a routerLink="/rewards" routerLinkActive="active">
          <i class="fa fa-trophy"></i><span>Rewards</span>
        </a>
      </li>

      <!-- Tests -->
      <li>
        <a routerLink="/tests" routerLinkActive="active">
          <i class="fa fa-check-circle"></i><span>Tests</span>
        </a>
      <li>
        <a routerLink="/condidatures" routerLinkActive="active"><i class="fa fa-file-text-o"></i><span>Project Application</span></a>
      </li>
      <li>
        <a routerLink="/contrats" routerLinkActive="active"><i class="fa fa-paperclip"></i><span>Contracts</span></a>
      </li>
      <li>
        <a routerLink="/profil-freelancer" routerLinkActive="active"><i class="fa fa-dashboard"></i><span>Freelancer Profile</span></a>
      </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
       
    </ul>
  </div>
</aside>