<aside class="sidebar">
  <div id="leftside-navigation" class="nano">
    <ul class="nano-content">
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="widgets.html"><i class="fa fa-th"></i><span>Widgets</span></a> 
      </li>
      <li>
        <a href="projects"><i class="fa fa-dashboard"></i><span>Projects</span></a>
      </li>
      <li>
        <a routerLink="/condidatures" routerLinkActive="active"><i class="fa fa-file-text-o"></i><span>Condidature</span></a>
      </li>
      <li>
        <a routerLink="/contrats" routerLinkActive="active"><i class="fa fa-paperclip"></i><span>Contrats</span></a>
      </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
       
    </ul>
  </div>
</aside>